version: 2
updates:
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: monthly
    labels: [deps]
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: quarterly
    labels: [deps]
