[flake8]
ignore = W503, C901, ANN101
max-line-length = 88
exclude = files_dbt_ext
max-complexity = 10
docstring-convention = google
allow-star-arg-any = true
per-file-ignores =
    # Don't require docstrings or type annotations in tests
    tests/*:D100,D102,D103,D104,DAR,ANN
    # missing params in docstring
    main.py: DAR101
