[tool.poetry]
name = "dbt-ext"
version = "0.0.1"
description = "`dbt-ext` is a Meltano utility extension."
authors = ["Meltano Team and Contributors"]
maintainers = ["Meltano Team and Contributors"]
readme = "README.md"
homepage = "https://meltano.com"
repository = "https://github.com/meltano/dbt-ext"
license = "Apache 2.0"

packages = [
    { include = "dbt_ext" },
    { include = "files_dbt_ext" },
]

# If you need to static assets with your extension, you can add them here.
# Under a directory path of "files_dbt-ext/"
include = [
    {path = "files_dbt_ext"},
]

[tool.poetry.dependencies]
python = "<3.11,>=3.7"
structlog = "^21.2.0"
PyYAML = "^6.0.0"
pydantic = "^1.9.0"
click = "^8.1.3"
typer = "^0.6.1"
"meltano.edk"= {git = "https://github.com/meltano/edk.git", rev="feat/pre-post-command-hints"}
importlib-resources = "^5.9.0"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
isort = "^5.10.1"
flake8 = "^3.9.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"



[tool.poetry.scripts]
dbt_extension = 'dbt_ext.main:app'
dbt_invoker = 'dbt_ext.pass_through:pass_through_cli'
