name: Release

on:
  push:

jobs:
  build:
    name: Build and Inspect
    runs-on: ubuntu-latest
    outputs:
      package_name: ${{ steps.baipp.outputs.package_name }}
      package_version: ${{ steps.baipp.outputs.package_version }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2.14.0
      id: baipp

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: [build]
    environment:
      name: pypi
      url: https://pypi.org/p/${{ needs.build.outputs.package_name }}/${{ needs.build.outputs.package_version }}
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write  # Needed for OIDC PyPI publishing
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: Packages
        path: dist
    - name: Publish
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

  upload-to-release:
    name: Upload files to release
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write     # Needed for uploading files to the release
      id-token: write     # Needed for attestations
      attestations: write # Needed for attestations

    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: Packages
        path: dist
    - name: Upload wheel and sdist to release
      uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # 2.11.3
      with:
        file: dist/meltano_dbt_ext*
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
    - uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
      id: attest
      with:
        subject-path: "./dist/meltano_dbt_ext*"
    - name: Upload attestations to release
      uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # 2.11.3
      with:
        file: ${{ steps.attest.outputs.bundle-path }}
        tag: ${{ github.ref }}
        overwrite: true
        asset_name: attestations.intoto.jsonl
