name: Test

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          version: ">=0.10"

      - name: Install dependencies
        env:
          UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        run: |
          uv sync

      - name: Test with pytest
        env:
          DBT_EXT_TYPE: postgres
        run: |
          uv run pytest
